
$text-white: #fff;
$text-primary:  #295589;
$text-th:#4c4949;
$text-light:#8b8989;
$text-grey:#3b3434;

$bg-light-blue:#F8FAFC;
$bg-light:#F8F8F8;
$bg-primary-dark : #002237; 
$bg-dark-dark:#12222c;
$bg-white:#fff;

$dark: #1f1f27;
$gray-dark: #353746;
$gray: #545E75;
$gray-light: #f0eff3;
$white: #ffffff;
$red: #f8174b;
$orange: #f46036;
$green: #00F260;
$blue: #0575E6;
$offwhite: #f9f9fc;
$transition: all .2s ease-in-out;

$text-xsm:0.8rem;
$text-sm:0.9rem;
$text-md:1.1rem;
$text-lg:1.3rem;





$_header-logo-lg:1.5rem;
$_header-logo-sm:1.3rem;

$table-head:0.9rem;



$container-padding:2rem 3rem;
$container-padding-sm:1rem 2rem;
$pb_1: 1rem;
$p-4: 4rem;


$bold-italic-pb : 'bold-italic';
$med-italic-pb: 'medium-italic';
$reg-italic-pb: 'regular-italic';
$thin-italic-pb: 'thin-italic';
$light-pb:'light';
$thin-pb:'thin';
$regular-pb:'regular';
$medium-pb:'medium';
$bold-pb:'bold';